<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c15b095f83.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel='stylesheet' href="css/style.css">
    <link rel='stylesheet' href="css/motivation.css">
</head>
<body>
   <!-- Responsive navbar-->
   <nav class="navbar navbar-expand-lg">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="/"><img src="icon.svg"  width="100" height="60" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/todos">Orders</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<section>
    <section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8"><h1>Motivational Affrimations</h1></div>
          </div>
        <div class="row">
          <div class="col-sm">
            I am getting better and better every day
          </div>
          <div class="col-sm">
            I’m rising above the thoughts that are trying to make me angry or afraid.
          </div>
          <div class="col-sm">
            I’ve made it through hard times before, and I’ve come out stronger and better because of them. I’m going to make it through this.
          </div>
        </div>
      </div>
    </section>
</section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html> 